.navbar-default .navbar-nav > li > a.active,
.navbar-default .navbar-nav > li > a.active:focus,
.navbar-default .navbar-nav > li > a.active:hover {
  /*color: #555; */
  background-color: #e7e7e7;
}
.Select-placeholder, .Select--single > .Select-control .Select-value {
  padding-top: 10px;
}
.Select-control {
  height: 54px!important;
}

.btn-toolbar>.btn, .btn-toolbar>.btn-group, .btn-toolbar>.input-group {
  height: 54px;
  width: 100%;
}
.navbar-default {background-color: #FFFFFF!important; }
.navbar-default .navbar-nav li a { color: #3366FF!important; }
.navbar-default { border-bottom: 3px solid #3366FF!important; }
.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .active a:hover { background-color: #3366FF!important;; color: #FFFFFF!important; }

.navbar { -webkit-box-shadow: none; }

